annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
cffi==2.0.0
click==8.3.1
clickhouse-connect==0.13.0
colorama==0.4.6
cryptography==46.0.5
fastapi==0.135.1
h11==0.16.0
idna==3.11
lz4==4.4.5
numpy==2.4.2
oracledb==3.4.2
pandas==3.0.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
RapidFuzz==3.14.3
six==1.17.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.42.0
zstandard==0.25.0
